
.banner{
  background-image: url('../../../Images/banner1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: 750px;
  padding-top: 100px;
  text-align: center;
  
}
.banner h1{
  
  color: rgba(255, 166, 0, 0.904);
  font-weight: 700;
  font-size: 100px;
}
.banner h2{
  font-size: 24px;
  font-weight: 500;
  color: rgba(238, 71, 10, 0.712);
}
.banner p{
  
color: rgba(255, 255, 255, 0.658);
font-size: 17px;
text-align: center;
}
h6{
    font-weight: 600;
    color: orangered;
    font-size: 24px;
}
h4{
  font-weight: 600;
  font-size: 38px;
}

.choose-section{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 20px;
}
.choose-detail{
  text-align: left;
}
.join-us{
  display: grid;
  grid-template-columns: repeat(3,1fr);
 grid-gap: 15px;

}
.join-us-card{
  border: none;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px  15px lightgray;
}
.testimonials{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 15px;
}
.reviews{
  border:1px solid rgba(211, 211, 211, 0.781);
  text-align: left;
  padding: 15px;
}
.reviewers-img{
  clip-path: circle();
  width: 70px;
}


@media only screen and  (max-width: 668px) {
  .join-us{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .choose-section{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .testimonials{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}